<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . "/src")
;

return PhpCsFixer\Config::create()
    ->setCacheFile('.phpcsfixer.cache')
    ->setRules([
        'ordered_imports' => false,
        'no_extra_blank_lines' => ['tokens' => ['break', 'case', 'continue', 'curly_brace_block', 'default', 'extra', 'parenthesis_brace_block', 'return', 'square_brace_block', 'switch', 'throw', 'useTrait']],
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
